/* montserrat-regular - latin_cyrillic */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot");
	/* IE9 Compat Modes */
	src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */
		url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"),
		/* Super Modern Browsers */
		url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"),
		/* Modern Browsers */
		url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */
		url("../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat") format("svg");
	/* Legacy iOS */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/montserrat-v25-latin_cyrillic-500.eot");
	/* IE9 Compat Modes */
	src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */
		url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"),
		/* Super Modern Browsers */
		url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff"),
		/* Modern Browsers */
		url("../fonts/montserrat-v25-latin_cyrillic-500.ttf") format("truetype"),
		/* Safari, Android, iOS */
		url("../fonts/montserrat-v25-latin_cyrillic-500.svg#Montserrat") format("svg");
	/* Legacy iOS */
}

* {
	margin: 0;
	padding: 0;
}

:root {
	--textColor: #533738;
	--btnBg: #cc8b86;
	--bgBlocks: #8d7370;
	--white: #ffffff;
	--owrWorksBg: rgba(100, 72, 69, 0.8);
	--black: black;
}

.syte {
	width: 1400px;
	margin: 0 auto;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

body {
	background-color: #efe6e4;
	height: 100%;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

header {
	position: absolute;
	width: 1400px;
}

/* Начало навигаций */
.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	margin-top: 26px;
}

.logo {
	display: flex;
	align-items: center;
}

.logo__img {
	width: 25px;
	height: 25px;
}

.nav__ul {
	display: flex;
	flex-direction: row;
	gap: 26px;
	align-items: center;
}

.nav__contact {
	display: flex;
	align-items: center;
}

.nav a {
	color: var(--textColor);
}

/* Конец навигаций */

/* ------------ */

/* Начало верх сайта */
.visibility__hidden {
	visibility: hidden;
	position: absolute;
}

.promo {
	background: url(../images/background__header.png);
	height: 715px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.promo__ditail {
	padding-top: 152px;
	padding-left: 184px;
}

.promo-title {
	font-size: 50px;
	line-height: 62px;
	color: var(--textColor);
	width: 40%;
	padding-bottom: 24px;
}

.promo-discription {
	font-size: 18px;
	line-height: 30px;
	color: var(--textColor);
	width: 40%;
}

.div-promo-btn {
	margin-top: 46px;
}

.promo-btn {
	padding: 25px 65px;
}

.btn-style {
	width: fit-content;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: var(--textColor);
	background-color: var(--btnBg);
}

/* Конец верх сайта */

/* ------------ */

/* Начало О НАС */
.container-about {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 62px;
	padding: 40px 0 21px 0;
}

.about-title {
	margin-top: 65px;
}

.about-title-p {
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	text-align: center;
}

.about-img {
	width: 444px;
	height: 465px;
}

.about-text {
	width: 38%;
	font-size: 18px;
	line-height: 30px;
}

/* Конец О НАС */

/* ------------ */

/* Блок с опытом работы фирмы */
.info__numbers {
	padding-top: 85px;
	padding-bottom: 81px;
	margin-bottom: 65px;
	background-color: var(--bgBlocks);
}

.info__numbers ul {
	display: flex;
	justify-content: center;
	gap: 270px;
}

.number {
	font-size: 50px;
	line-height: 62px;
	color: #ffffff;
	text-align: center;
}

.title-number {
	font-size: 30px;
	line-height: 37px;
	text-transform: uppercase;
	color: #ffffff;
}

/* КОНЕЦ Блок с опытом работы фирмы */

/* ------------ */

/* Начало НАШИ РАБОТЫ */

.our__works {
	padding: 0 100px;
	width: fit-content;
	margin: auto;
}

.our__works-title {
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: var(--textColor);
	padding-bottom: 40px;
}

.our__works-container-one {
	margin-bottom: 30px;
}

.our__works-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.text__works {
	position: relative;
}

.text__works:hover .text__discription {
	visibility: visible;
}

.text__discription {
	visibility: hidden;
	position: absolute;
	top: 0;
	background: rgba(100, 72, 69, 0.8);
	width: 100%;
	height: 451px;
}

.text__discription h3 {
	margin-top: 86px;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
	color: var(--white);
}

.text__discription p {
	padding: 35px;
	font-size: 18px;
	line-height: 30px;
	color: var(--white);
}

.work-img_v1 {
	width: 488px;
	height: 451px;
}

.work-img_v2 {
	width: 692px;
	height: 451px;
}

.watch__more {
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	margin-top: 40px;
	text-align: center;
}

.watch__more a {
	color: var(--textColor);
}

.watch__more-img {
	width: 60px;
}

/* Конец НАШИ РАБОТЫ */

/* ------------ */

/* Начало Команда -Как мы работаем  */

.section-info__team {
	margin-top: 65px;
	padding-top: 50px;
}

.title-info__team p {
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: var(--textColor);
	text-align: center;
	padding-bottom: 40px;
}

.container-info__team {
	display: flex;
	justify-content: center;
	gap: 28px;
}

.info__team-img {
	width: 320px;
	height: 223px;
}

.team {
	width: 320px;
}

.team p {
	width: 100%;
	font-size: 18px;
	line-height: 30px;
	color: var(--textColor);
}

.team__footer {
	margin-bottom: 80px;
	padding: 0 100px;
}

.team__footer-list {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.team__footer-list li {
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	color: var(--textColor);
}

.title-how p {
	text-align: center;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: var(--textColor);
	margin-top: 35px;
	margin-bottom: 40px;
}

.team__footer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}

.team__footer-list {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	list-style: none;
}

.team__footer-list span {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: var(--bgBlocks);
	color: var(--white);
	font-weight: 500;
	font-size: 30px;
	line-height: 30px;
}

/* Конец Команда- НАШИ РАБОТЫ */

/* ------------ */

/* Отзывы */

.reviews-title {
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: var(--textColor);
	text-align: center;
}

.reviews-button {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	background: #cc8b86;
}

.reviews-button-prev svg {
	transform: rotate(-180deg);
}

.btn-left {
	display: flex;
	align-items: center;
	margin-left: 29px;
}

.btn-right {
	display: flex;
	align-items: center;
	margin-right: 29px;
}

.reviews-container {
	display: flex;
	justify-content: center;
	/* height: 658px; */
}

.reviews {
	width: 30%;
}

.reviews p {
	/* max-width: 407px; */
	margin-top: 131px;
	margin-right: 20px;
	margin-bottom: 158px;
	/* height: 100%; */
	font-size: 18px;
	line-height: 30px;
	color: var(--textColor);
}

.reviews-img {
	/* width: 50%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	gap: 24px;
}

.reviews-img img {
	width: 407px;
	height: 272px;
}

/* Конец Отзывы */

/* ------------ */

/* Форма обратной связи  */
.request-section {
	background-color: var(--bgBlocks);
}

.request-container {
	display: flex;
	justify-content: center;
}

.form {
	padding: 50px 20px 0 181px;
}

.title-form {
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: var(--white);
}

.text-form {
	font-size: 18px;
	line-height: 30px;
	color: var(--white);
	opacity: 0.6;
	margin-top: 24px;
	margin-bottom: 44px;
}

.request-section__form {
	display: flex;
	flex-direction: column;
	gap: 35px;
}


input[type="text"],
input[type="number"] {
	background: none;
	color: var(--white);
	border: none;
	border-bottom: 1px solid var(--white);
	padding-bottom: 4px;
	outline: none;
	-webkit-appearance: none;
}

::placeholder {
	color: var(--white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.request-img {
	padding-right: 101px;
	padding-top: 3px;
}

.request-img img {
	width: 590px;
	height: 624px;
}

/* КОНЕЦ Форма обратной связи  */

/* ------------ */

/* FOOTER */

.footer-ul {
	display: flex;
	flex-direction: row;
	padding: 37px 100px;
	color: var(--textColor);
}

.adress {

	margin: 0 379px 0 42px;
}

/* Конец FOOTER */